

<h1>@ViewBag.Titulo</h1>
<h1>@ViewBag.Subtitulo</h1>

<div class="row">
    <div class="col-md-2" style="text-align:right;">
        <a href="~/Transacciones/Nueva_Transaccion" class="btn btn-primary">Nueva transaccion</a>
    </div>
</div>
<br />

<table class="table table-bordered table-striped table-striped-columns table-responsive">
<thead>
            <tr>
                <th scope="col"> TransaccionID     </th>
                <th scope="col"> CuentaID     </th>
                <th scope="col"> TipoTransaccion   </th>
                <th scope="col"> Monto         </th>
                <th scope="col"> FechaTransaccion        </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var transacciones in Model)
            {
                <tr>
                    <td>@transacciones.TransaccionID </td>
                    <td>@transacciones.CuentaID</td>
                    <td>@transacciones.TipoTransaccion </td>
                    <td>@transacciones.Monto  </td>
                    <td>@transacciones.FechaTransaccion</td>
                    <td><a class="btn btn-warning" href="~/Transacciones/Editar_Transaccion/@transacciones.TransaccionID">Editar</a></td>
                    <td><a class="btn btn-danger" href="~/Transacciones/Confirmar_Eliminar/@transacciones.TransaccionID">Eliminar</a></td>
                    
                </tr>
            }
        </tbody>
    </table>
