@*recupero el viewBag*@

@*para referenciar un metodo, una variable o un elemento de codigo utilizado '@'*@

<h1>@ViewBag.Titulo</h1>
<h1>@ViewBag.Subtitulo</h1>

<br />

<div class="row">
    <div class="col-md-2" style="text-align:right;">
        <a href="~/Prestamos/Nuevo_Prestamo" class="btn btn-primary"><i class="fas fa-dollar-sign"></i>Nuevo prestamo</a>
    </div>
</div>
<br />

<table class="table table-bordered table-striped table-striped-columns table-responsive table-dark">
    <thead>
        <tr>
            <th scope="col"> PrestamoID     </th>
            <th scope="col"> ClienteID     </th>
            <th scope="col"> Monto     </th>
            <th scope="col"> Tasa de interes     </th>
            <th scope="col"> FechaNa de inicio   </th>
            <th scope="col"> Fecha de venciminento       </th>
            <th scope="col"> Saldo pendiente        </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var prestamos in Model)
        {
            <tr>
                <td>@prestamos.Prestamos_DTO.PrestamoID </td>
                <td>@prestamos.Cliente.Nombre </td>
                <td>@prestamos.Prestamos_DTO.Monto </td>
                <td>@prestamos.Prestamos_DTO.TasaInteres </td>
                <td>@prestamos.Prestamos_DTO.FechaInicio </td>
                <td>@prestamos.Prestamos_DTO.FechaVencimiento </td>
                <td>@prestamos.Prestamos_DTO.SaldoPendiente </td>

                <td>
                    <a class="btn btn-outline-warning" href="~/Prestamos/Editar_Prestamo/@prestamos.Prestamos_DTO.PrestamoID"><i class="fas fa-edit"></i>Editar</a>

                </td>
                <td>
                    <a class="btn btn-outline-danger" href="~/Prestamos/Confirmar_Eliminar/@prestamos.Prestamos_DTO.PrestamoID"><i class="fas fa-trash-alt"></i>Eliminar</a>
                </td>

            </tr>
        }
    </tbody>
</table>



