
@model DTO.Prestamos_DTO
@*Indicamos a Razor que utilizaremos un modelo especificos*@


<h2>@ViewBag.Titulo</h2>
@*comenczamos a crear nuestro formulario
    HTML HELPER BeginForm es el HTML Helper*@

@using (Html.BeginForm("Nuevo_Prestamo", "Prestamos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-12">
            <div>
                @*generamos la etiqueta label*@
                @Html.LabelFor(model => model.ClienteID)
                @*generamos la etiqueta input*@
                @Html.DropDownListFor(model => model.ClienteID, new SelectList(ViewBag.listaclientes, "ClienteID", "Nombre", new { @class = "form-control", @type = "text" }))
                @*generamos un espacio para le msg de validacion*@
                @Html.ValidationMessageFor(model => model.ClienteID, null)
            </div>

            <div>
                @*generamos la etiqueta label*@
                @Html.LabelFor(model => model.Monto)
                @*generamos la etiqueta input*@
                @Html.TextBoxFor(model => model.Monto, new { @class = "form-control", @type = "decimal" })
                @*generamos un espacio para le msg de validacion*@
                @Html.ValidationMessageFor(model => model.Monto, null)
            </div>

            <div>
                @*generamos la etiqueta label*@
                @Html.LabelFor(model => model.TasaInteres)
                @*generamos la etiqueta input*@
                @Html.TextBoxFor(model => model.TasaInteres, new { @class = "form-control", @type = "decimal" })
                @*generamos un espacio para le msg de validacion*@
                @Html.ValidationMessageFor(model => model.TasaInteres, null)
            </div>

            <div>
                @*generamos la etiqueta label*@
                @Html.LabelFor(model => model.FechaInicio)
                @*generamos la etiqueta input*@
                @Html.TextBoxFor(model => model.FechaInicio, new { @class = "form-control", @type = "date" })
                @*generamos un espacio para le msg de validacion*@
                @Html.ValidationMessageFor(model => model.FechaInicio, null)
            </div>

            <div>
                @*generamos la etiqueta label*@
                @Html.LabelFor(model => model.FechaVencimiento)
                @*generamos la etiqueta input*@
                @Html.TextBoxFor(model => model.FechaVencimiento, new { @class = "form-control", @type = "date" })
                @*generamos un espacio para le msg de validacion*@
                @Html.ValidationMessageFor(model => model.FechaVencimiento, null)
            </div>

            <div>
                @*generamos la etiqueta label*@
                @Html.LabelFor(model => model.SaldoPendiente)
                @*generamos la etiqueta input*@
                @Html.TextBoxFor(model => model.SaldoPendiente, new { @class = "form-control", @type = "decimal" })
                @*generamos un espacio para le msg de validacion*@
                @Html.ValidationMessageFor(model => model.SaldoPendiente, null)
            </div>



            <div style="text-align: right;">
                <input value="Guardar" class="btn btn-success" type="submit" />
            </div>


        </div>
    </div>
}

