
@model DTO.Cuentas_DTO
@*Indicamos a Razor que utilizaremos un modelo especificos*@


<h2>@ViewBag.Titulo</h2>
@*comenczamos a crear nuestro formulario
    HTML HELPER BeginForm es el HTML Helper*@

@using (Html.BeginForm("Editar_Cuenta", "Cuentas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">

        <span class="border border-4">
        <div class="col-12">
            @Html.HiddenFor(model => model.CuentaID)


            <div>
                @*generamos la etiqueta label*@
                @Html.LabelFor(model => model.ClienteID)
                @*generamos la etiqueta input*@
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                    @Html.DropDownListFor(model => model.ClienteID, new SelectList(ViewBag.listaclientes, "ClienteID", "Nombre", new { @class = "form-control", @type = "text" }))
                </div>
                @*generamos un espacio para le msg de validacion*@
                @Html.ValidationMessageFor(model => model.ClienteID, null)
            </div>

            <div>
                @*generamos la etiqueta label*@
                @Html.LabelFor(model => model.TipoCuenta)
                @*generamos la etiqueta input*@
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                    @Html.DropDownListFor(model => model.TipoCuenta, new SelectList(ViewBag.ListaTipos, "Descripcion", "Descripcion"), new { @class = "form-control" })
                </div>
                @*generamos un espacio para le msg de validacion*@
                @Html.ValidationMessageFor(model => model.TipoCuenta, null)
            </div>

            <div>
                @*generamos la etiqueta label*@
                @Html.LabelFor(model => model.Saldo)
                @*generamos la etiqueta input*@
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                    @Html.TextBoxFor(model => model.Saldo, new { @class = "form-control", @type = "decimal" })
                </div>
                @*generamos un espacio para le msg de validacion*@
                @Html.ValidationMessageFor(model => model.Saldo, null)
            </div>

            <div>
                @*generamos la etiqueta label*@
                @Html.LabelFor(model => model.FechaApertura)
                @*generamos la etiqueta input*@
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                    @Html.TextBoxFor(model => model.FechaApertura, new { @class = "form-control", @type = "text" })
                </div>
                @*generamos un espacio para le msg de validacion*@
                @Html.ValidationMessageFor(model => model.FechaApertura, null)
            </div>



            <div style="text-align: right;">
                <input value="Guardar" class="btn btn-success" type="submit" />
            </div>
        </div>
</span>

    </div>
}

