@*recupero el viewBag*@

@*para referenciar un metodo, una variable o un elemento de codigo utilizado '@'*@

<h1>@ViewBag.Titulo</h1>
<h1>@ViewBag.Subtitulo</h1>

@*creo una tabla´para mostrar mis camiones*@
@*<table class="table table-bordered table-striped table-striped-columns table-responsive">*@
@*<thead>
            <tr>
                <th scope="col"> ID_Camion     </th>
                <th scope="col"> Matricula     </th>
                <th scope="col"> Tipo_Camion   </th>
                <th scope="col"> Marca         </th>
                <th scope="col"> Modelo        </th>
                <th scope="col"> Capacidad     </th>
                <th scope="col"> Kilometraje   </th>
                <th scope="col"> UrlFoto       </th>
                <th scope="col"> Disponibilidad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var camion in Model)
            {
                <tr>
                    <td>@camion.ID_Camion </td>
                    <td>@camion.Matricula </td>
                    <td>@camion.Tipo_Camion </td>
                    <td>@camion.Marca </td>
                    <td>@camion.Modelo </td>
                    <td>@camion.Capacidad </td>
                    <td>@camion.Kilometraje </td>
                    <td>@camion.UrlFoto </td>
                    <td>@camion.Disponibilidad </td>
                </tr>

            }
        </tbody>
    </table>*@

<div class="row">
    <div class="col-md-2" style="text-align:right;">
        <a href="~/Cuentas/Nueva_Cuenta" class="btn btn-primary">Nueva cuenta</a>
    </div>
</div>

<br />
<div class="col-md-12  row text-center">
    @foreach (var cuenta in Model)
    {
        <div class="col-md-3 col-sm-12">
            @*//Tarjeta de Bootstrap*@
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">Cuenta no. @cuenta.Cuentas_DTO.CuentaID</h5>
                    <h2 class="card-title">@cuenta.Cliente.Nombre</h2>
                    <ul>
                        <li class="card-text">@cuenta.Cuentas_DTO.TipoCuenta</li>
                        <li class="card-text">@cuenta.Cuentas_DTO.Saldo</li>
                        <li class="card-text">@cuenta.Cuentas_DTO.FechaApertura</li>
                        
                    </ul>
                    <a class="btn btn-warning" href="~/Cuentas/Editar_Cuenta/@cuenta.Cuentas_DTO.CuentaID">Editar</a>
                    <a class="btn btn-danger" href="~/Cuentas/Confirmar_Eliminar/@cuenta.Cuentas_DTO.CuentaID">Eliminar</a>
                </div>
            </div>
        </div>
    }
</div>

