
@model DTO.Tarjertas_DTO
@*Indicamos a Razor que utilizaremos un modelo especificos*@


<h2>@ViewBag.Titulo</h2>
@*comenczamos a crear nuestro formulario
    HTML HELPER BeginForm es el HTML Helper*@

@using (Html.BeginForm("Editar_Tarjeta", "Tarjetas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">

        <span class="border border-4">
        <div class="col-12">
            @Html.HiddenFor(model => model.TarjetaID)


            <div>
                @*generamos la etiqueta label*@
                @Html.LabelFor(model => model.ClienteID)
                @*generamos la etiqueta input*@
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                    @Html.DropDownListFor(model => model.ClienteID, new SelectList(ViewBag.listaclientes, "ClienteID", "Nombre", new { @class = "form-control", @type = "text" }))
                </div>
                @*generamos un espacio para le msg de validacion*@
                @Html.ValidationMessageFor(model => model.ClienteID, null)
            </div>

            <div>
                @*generamos la etiqueta label*@
                @Html.LabelFor(model => model.NumeroTarjeta)
                @*generamos la etiqueta input*@
                <div class="input-group">
                    <span class="input-group-text"><i class="far fa-address-card"></i></span>
                    @Html.TextBoxFor(model => model.NumeroTarjeta, new { @class = "form-control", @type = "text" })
                </div>
                @*generamos un espacio para le msg de validacion*@
                @Html.ValidationMessageFor(model => model.NumeroTarjeta, null)
            </div>

            <div>
                @*generamos la etiqueta label*@
                @Html.LabelFor(model => model.TipoTarjeta)
                @*generamos la etiqueta input*@
                <div class="input-group">
                    <span class="input-group-text"><i class="far fa-address-card"></i></span>
                    @Html.DropDownListFor(model => model.TipoTarjeta, new SelectList(ViewBag.ListaTipos, "Descripcion", "Descripcion"), new { @class = "form-control" })
                </div>
                @*generamos un espacio para le msg de validacion*@
                @Html.ValidationMessageFor(model => model.TipoTarjeta, null)
            </div>

            <div>
                @*generamos la etiqueta label*@
                @Html.LabelFor(model => model.LimiteCredito)
                @*generamos la etiqueta input*@
                <div class="input-group">
                    <span class="input-group-text"><i class="far fa-address-card"></i></span>
                    @Html.TextBoxFor(model => model.LimiteCredito, new { @class = "form-control", @type = "decimal" })
                </div>
                @*generamos un espacio para le msg de validacion*@
                @Html.ValidationMessageFor(model => model.LimiteCredito, null)
            </div>

            <div>
                @*generamos la etiqueta label*@
                @Html.LabelFor(model => model.SaldoDisponible)
                @*generamos la etiqueta input*@
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                    @Html.TextBoxFor(model => model.SaldoDisponible, new { @class = "form-control", @type = "decimal" })
                </div>
                @*generamos un espacio para le msg de validacion*@
                @Html.ValidationMessageFor(model => model.SaldoDisponible, null)
            </div>

            <div>
                @*generamos la etiqueta label*@
                @Html.LabelFor(model => model.FechaEmision)
                @*generamos la etiqueta input*@
                <div class="input-group">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    @Html.TextBoxFor(model => model.FechaEmision, new { @class = "form-control", @type = "text" })
                </div>
                @*generamos un espacio para le msg de validacion*@
                @Html.ValidationMessageFor(model => model.FechaEmision, null)
            </div>

            <div>
                @*generamos la etiqueta label*@
                @Html.LabelFor(model => model.FechaVencimiento)
                @*generamos la etiqueta input*@
                <div class="input-group">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    @Html.TextBoxFor(model => model.FechaVencimiento, new { @class = "form-control", @type = "text" })
                </div>
                @*generamos un espacio para le msg de validacion*@
                @Html.ValidationMessageFor(model => model.FechaVencimiento, null)
            </div>

            <div>
                @*generamos la etiqueta label*@
                @Html.LabelFor(model => model.Estado)
                @*generamos la etiqueta input*@
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-bookmark"></i></span>
                    @Html.DropDownListFor(model => model.Estado, new SelectList(ViewBag.ListaTipos1, "Descripcion1", "Descripcion1"), new { @class = "form-control" })
                </div>
                @*generamos un espacio para le msg de validacion*@
                @Html.ValidationMessageFor(model => model.Estado, null)
            </div>





            <div style="text-align: right;">
                <input value="Guardar" class="btn btn-success" type="submit" />
            </div>


        </div>

            </span>
    </div>
}

