@*recupero el viewBag*@

@*para referenciar un metodo, una variable o un elemento de codigo utilizado '@'*@

<h1>@ViewBag.Titulo</h1>
<h1>@ViewBag.Subtitulo</h1>
<br />


<div class="row">
    <div class="col-md-2" style="text-align:right;">
        <a href="~/Tarjetas/Nueva_Tarjeta" class="btn btn-primary">Nueva tarjeta</a>
    </div>
</div>
<br />

<div class="col-md-12  row text-center">
    @foreach (var tarjetas in Model)
    {
        <div class="col-md-3 col-sm-12">
            @*//Tarjeta de Bootstrap*@
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">Tarjeta no. @tarjetas.Tarjertas_DTO.TarjetaID</h5>

                    <h2 class="card-title">@tarjetas.Cliente.Nombre</h2>
                    <ul>
                        <li class="card-text">@tarjetas.Tarjertas_DTO.NumeroTarjeta</li>
                        <li class="card-text">@tarjetas.Tarjertas_DTO.TipoTarjeta</li>
                        <li class="card-text">@tarjetas.Tarjertas_DTO.LimiteCredito</li>
                        <li class="card-text">@tarjetas.Tarjertas_DTO.SaldoDisponible</li>
                        <li class="card-text">@tarjetas.Tarjertas_DTO.FechaEmision</li>
                        <li class="card-text">@tarjetas.Tarjertas_DTO.FechaVencimiento</li>
                        <li class="card-text">@tarjetas.Tarjertas_DTO.Estado</li>
                    </ul>
                    <a class="btn btn-warning" href="~/Tarjetas/Editar_Tarjeta/@tarjetas.Tarjertas_DTO.TarjetaID">Editar</a>
                    <a class="btn btn-danger" href="~/Tarjetas/Confirmar_Eliminar/@tarjetas.Tarjertas_DTO.TarjetaID">Eliminar</a>
                </div>
            </div>
        </div>
    }
</div>

